html {
  font-family: sans-serif;
}
body {
  margin: 0;
  background-color: white;
  height: 100vh;
}
* {
  box-sizing: border-box;
}


.main-content{
  overflow: hidden;
}

a{
  text-decoration: none;
}
